<div class="main" ng-controller="CompareController">
  <br>
  <div class="container">

    <div class="row" ng-hide="zipSearch">
      <form class="col s3 offset-s4 center">
        <div class="row">
          <div class="input-field">
            <input ng-model="zipcode1" id="zip1" type="text" class="validate center-align">
            <label for="zip1">Insert First Zipcode</label>
          </div>
        </div>
      </form>
      
      <form class="col s3 offset-s4 center">
        <div class="row">
          <div class="input-field">
            <input ng-model="zipcode2" id="zip2" type="text" class="validate center-align">
            <label for="zip2">Insert Second Zipcode</label>
          </div>
          <button type="button" ng-click="submitCompareSearch()" class="waves-effect waves-light btn">Submit</button>
        </div>
      </form>
    </div>

    <div ng-show="zipSearch" class="center">
      <h3> Search Results for {{ zipcode1 }} and {{ zipcode2}}</h3>
    </div>


  </div>
  <div id="chart"></div>
  <!-- <div id="chart2"></div> -->


</div>