
<!-- <div class="container">
  <div class="section">

    <ul id="staggered-test">

      <li class="homeInfo">
        <div class="row">
          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center blue-grey-text"><i class="mdi-action-search"></i></h2>
              <h5 class="center black-text text-darken-4">See Trends</h5>

              <p class="light">Quickly view a job breakdown based on current openings.</p> </div>
          </div>

          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center blue-grey-text"><i class="mdi-content-content-paste"></i></h2>
              <h5 class="center black-text text-darken-4">Analyze Postings</h5>

              <p class="light">See a breakdown of languages based on job description data</p>
            </div>
          </div>

          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center blue-grey-text"><i class="mdi-action-trending-up"></i></h2>
              <h5 class="center black-text text-darken-4">Learn</h5>

              <p class="center light">See a list of recommended meetups and articles in the area.</p>
            </div>
          </div>
        </div>

      </li>
      </ol>

  </div>
</div>

 -->

<div class="container">
  <div class="section">


  </div>
</div>
<footer class="teal darken-3">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="yellow-text text-lighten-1">About Me</h5>
        <p class="light white-text">I am a student at the Turing School of Software and Design, a seven-month immersive web-development training program focusing on full-stack Ruby and Javascript.</p>

      </div>
<!--       <div class="col l3 s12">
        <h5 class="yellow-text text-lighten-3">LinkedIn</h5>
        <ul>
          <li><a class="white-text" href="https://www.linkedin.com/in/davidjdaniel">David</a></li>
          <li><a class="white-text" href="https://github.com/kristinabrown">Kristina</a></li>
          <li><a class="white-text" href="https://www.linkedin.com/in/patrickmedaugh">Patrick</a></li>
        </ul>
      </div>
 -->      <div class="col l6 s12">
        <h5 class="yellow-text text-lighten-3">Connect</h5>
        <ul>
          <li><a class="white-text" href="https://github.com/davedan7">Github</a></li>
          <li><a class="white-text" href="https://www.linkedin.com/in/davidjdaniel">LinkedIn</a></li>
          <li><a class="white-text" href="#">Email</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright teal darken-4">
    <div class="container">
      Powered by <a class="orange-text text-lighten-4" href="http://www.turing.io">Turing</a>
    </div>
  </div>
</footer>