<nav class="black darken-1" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="/" class="brand-logo yellow-text text-lighten-3" id="logo">TechTrendy</a>
    <ul class="right hide-on-med-and-down">
      <li><%= link_to "New Search", search_path, class: 'yellow-text text-lighten-3' %></li>
    </ul>

    <!-- Mobile Navbar -->
    <ul id="nav-mobile" class="side-nav cyan darken-2">
      <li><%= link_to "Network", search_path, class: 'white-text' %></li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
  </div>
</nav>