
<nav class="teal darken-2" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="/" class="brand-logo white-text text-lighten-3" id="logo">TechTrendy</a>
    <ul class="right hide-on-med-and-down">
      <!-- <li ><a class="dropdown-button white-text" href="#!" data-activates="dropdown1"><i class="mdi-navigation-arrow-drop-down right"></i></a></li> -->
      <li><%= link_to "New Search", search_path, class: 'white-text' %></li>
      <li><%= link_to "Compare", compare_path, class: 'white-text' %></li>
    </ul>

    <!-- Mobile Navbar -->
    <ul id="nav-mobile" class="side-nav cyan darken-2">
      <li><%= link_to "Network", search_path, class: 'white-text' %></li>
      <li><%= link_to "Compare", compare_path, class: 'white-text' %></li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
  </div>
</nav>
</div>