<!DOCTYPE html>
<html>
<head>
  <title>Techtrends</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
</head>


<body >
  <div>
    <%= yield %>
  </div>
  
</body>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'react_init' %>
  <%= csrf_meta_tags %>
</html>
